@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.joinRoomForm {
  @include flex(start, center, null, null);
  flex-direction: column;
  padding: 20px 20px 0px;
  margin-top: 20px;

  .formGroup {
    margin-bottom: 20px;
    width: 100%;

    label {
      font-size: 16px;
      margin-bottom: 10px;
      color: #fff;
    }

    .inputGroup {
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-35%);
        cursor: pointer;
        font-size: 16px;
        color: $secondary-light;
      }
    }

    input {
      margin: 10px 0px 5px;
      width: 100%;
      height: 40px;
      font-size: 16px;
      letter-spacing: 2px;
      padding: 10px;
      border: none;
      border-radius: $border-xs;
      outline: none;
      color: #fff;
      background-color: $primary-light;
    }

    .error {
      font-size: 10px;
      color: red;
    }
  }

  .submitBtn {
    width: 100%;
    padding: 10px 20px;
    background-color: $secondary-light;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: $border-xs;
    cursor: pointer;
    margin: 0px 0px 20px;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: 1px solid $primary-light;
    }

    &:hover {
      background-color: darken($secondary-light, 2%);
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $primary-light;
    border: none;
  }

  .createRoom {
    padding: 10px 20px;
    background-color: $secondary-light;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: $border-xs;
    cursor: pointer;
    margin: 20px auto 0;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: darken($secondary-light, 2%);
    }

    &:focus {
      outline: 1px solid $primary-light;
    }
  }
}
